/* Codecademy Intensive Pro "Build Websites From Scratch": Unit 4, Days 14-16. Submission by P.Mroz. */
body{
  font-family: helvetica;
  background-color: blue;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}
/* HEADER STYLES*/
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}
.logo img {
  height: 50px;
  margin: 9px 75px 10px 10px;
}
nav.menu {
  display: flex;
  justify-content: space-between;
  margin: 9px 10px 10px 50px;
}
.menu span{
  width: 130px;
  padding: 0px 0px;
}
.menu a {
  color: seashell;
  text-decoration: underline;
}
/* BODY STYLES*/
